.container_12{
	margin-left: auto;
	margin-right: auto;
	
}
.container_12{
	background: beige;
}
.center{
	margin-left: 300px;
	margin-top: -120px;	
}
.center1{
	margin-left: 160px;
	margin-top: 100px;
}
ul li{
   margin-left: 95px;
    display: inline;
    font-family: sans-serif;
    font-size: 16px;

}
a{
	text-decoration: none;
}
ul a:hover{

	text-decoration: underline;
	font-size: 30px;
}
.Images{
	width: 940px;
}
.paragraph{
	font-family: sans-serif;
	margin-top: 20px;
	text-align: justify;
}
.image1{
	margin-top: 20px;
	margin-left: 50px;
}


.abc{

	margin-top: 20px;
	border: 1px dotted red;
	
}
.border li{
	font-size: 24px;
}
.xyz{
	
	margin-top: -10px;
	border: 1.2px dotted green;
}

.border1 li
{

	margin-top: 240px;
	margin-left: 90px;
	display: inline;
	font-size: 18px;
}
.line{
	color: red; 
	width: 4px;
}
.About{
	margin-left: 190px;

	margin-top: 10px;
}
.about{
	margin-left: 190px;
}
.Contact
{
	margin-left: 20px;
	margin-top: 10px;
}
.Find{
	margin-left: -80px;
	margin-top: 10px;
}
.find1{
	margin-left: -80px;
}
.find2{
	margin-left: -80px;
}
.find3{
	margin-left: -80px;
}
.camera{
	margin-left: -170px;
	margin-top: 200px;
}
.texts{
	margin-left: -145px;
	margin-top: 200px;
}
.view{
	margin-left: -210px;
	margin-top: 200px;
}
.speciality{
	font-family: monospace;
	font-size: 50px;
	margin-left: 300px;
}


