.container_12{
	margin-left: auto;
	margin-right: auto;
	
}
.container_12{
	background: beige;
}
.center{
	margin-top: -130px;
	margin-left: 280px;
}
.center1{
	margin-top: 100px;
	margin-left: 110px;
}
ul li{
	text-decoration: none;
	display: inline;
	margin-left: 90px;
	padding:-70px;
}
.image{
	margin-left: 473px;
	margin-top: 30px;
	width: 964px;
	height:270px;
	}
.center2{
	margin-top: 40px;
	margin-left: -170px;
}

.a1{
	margin-left: 85px;
	text-decoration: none;
}
.a2{
	margin-left: 100x;
	text-decoration: none;
}
.a3{
	margin-left: 10px;
	text-decoration: none;
}

.register{
	margin-left: 1130px;
	margin-top: 20px;
}
.register1{
	margin-left: 1130px;
	margin-top: 18px;
	}
.register2{
	margin-left: 1130px;
	margin-top: 14px;
	}

.paragraph{
	text-align: justify;
	margin-left: 473px;
	margin-right: 800px;
	margin-top: 20px;
}
.special{
	margin-left: 473px;
}
.image1{
	width: 310px;
	height: 240px;
	margin-left: 485px;
	margin-top: -230px;
}